pypdf>=4.0.0
pikepdf>=8.0.0
pdf2image>=1.17.0
pdf2docx>=0.5.6
python-docx>=1.1.0
openpyxl>=3.1.0
reportlab>=4.1.0
pillow>=10.0.0
python-pptx>=0.6.21
fastapi>=0.100.0
uvicorn>=0.20.0
python-multipart>=0.0.5
supabase
python-dotenv
langchain>=0.1.0
langchain-community>=0.0.10
langchain-core>=0.1.0
langchain-text-splitters>=0.0.1
sentence-transformers>=2.2.2
psycopg2-binary>=2.9.9
langchain-google-genai
numpy
